// COLORS
$color-background: #262728;
$nav-bacground: #181818;
$text-color: #f7f7f7;
$soundcloud-color: #FF5500;
$logo-color: #FF3800;
$nav-color: rgba(247, 247, 247, 0.534);
$inputSearch-color: #3a4769;

// FONT
$default-font-size: 1.6rem;
