<div class="signUp-background">

    <div class="signUpBox">

        <h1 class="signUpBox__title">sign up</h1>
      
        <div class="signUpBox__input">
         <i> <fa-icon [icon]="faUser"></fa-icon> </i>
          <input type="text" placeholder="Username">
        </div>
      
        <div class="signUpBox__input">
         <i> <fa-icon [icon]="faEnvelope"></fa-icon> </i> 
          <input type="email" placeholder="Email">
        </div>
      
        <div class="signUpBox__input">
         <i> <fa-icon [icon]="faLock"></fa-icon> </i>
          <input type="password" placeholder="Password">
        </div>
      
        <input type="button" class="signUpBox__btn" value="Sign Up">
      
    </div>
</div>
